<service name="bundle_gems">
  <summary>Resolves gem dependencies and adds them to the .spec source list</summary>
  <description>This service reads the Gemfile from the sources, figures out the whole chain
  of gem dependencies, and adds them to the source list so that another service like
  download_files can retrieve them.</description>
  <parameter name="strategy">
    <description>Choose the strategy this service runs in. Values: spec, cpio. Default: spec</description>
  </parameter>
  <parameter name="ruby-version">
    <description>Choose the Ruby version used to install gems. rbenv is used to install/run ruby, only usable with "cpio" strategy.</description>
  </parameter>
</service>
